* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Underdog", system-ui;
    font-weight: 400;
    font-style: normal;
}




body {
    background: linear-gradient(45deg, rgba(184, 225, 252, 1) 0%,
            rgba(169, 210, 243, 1) 10%, rgba(144, 186, 228, 1) 22%, rgba(184, 225, 252, 1) 31%,
            rgba(144, 188, 234, 1) 37%, rgba(144, 191, 240, 1) 50%, rgba(107, 168, 229, 1) 51%, rgba(184, 225, 252, 1) 58%,
            rgba(184, 225, 252, 1) 58%, rgba(162, 218, 245, 1) 75%, rgba(162, 218, 245, 1) 75%, rgba(189, 243, 253, 1) 100%);
}

h1 {
    text-decoration: underline;
}

.header {
    background: linear-gradient(45deg, rgba(96, 90, 220, 1) 24%,
            rgba(26, 26, 166, 1) 43%, rgba(26, 26, 166, 1) 43%, rgba(42, 35, 225, 1) 43%);
    color: white;
    height: 180px;
    padding-top: 5%;

}

.article i {
    font-size: 130%;
    color: rgb(45, 157, 223);
    padding: 1%;
}

.site-title {
    float: left;
    font-size: 28px;
    margin-top: 0.1%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.botones {
    float: right;
    margin-top: 10px;
    padding-right: 2%;
}

.botones input[type="text"] {
    background-color: #fff;
    padding: 2%;
    width: 65%;
    border: none;
    outline: none;
    margin-left: -8%;

}

.botones button {
    padding: 2% 10px;
    margin-right: -2%;
    background-color: #e0e0e0;
    border: none;
}

button:hover {
    color: #121d10;
    background-color: #98ce1b;
}

.nav a:hover {
    background-color: #f7f0f0;
    color: rgb(252, 118, 0);
}

nav {
    padding: 10px 0;
    float: inline-end;
}


.nav {
    clear: both;
    overflow: hidden;
    margin-top: 4%;
    width: 100%;
    background: linear-gradient(135deg, rgba(29, 40, 199, 1) 7%,
            rgba(28, 20, 244, 1) 22%,
            rgba(53, 43, 237, 1) 63%, rgba(29, 40, 199, 1) 64%,
            rgba(41, 80, 171, 1) 83%);
}

.navegador-item {
    float: left;
    color: rgb(245, 244, 244);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}



.contenedor {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}


.main-content {
    width: 70%;
    float: left;
    padding: 20px;
    background: linear-gradient(45deg, rgba(230, 228, 252, 1) 0%,
            rgba(214, 240, 253, 1) 73%);
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    border-top-left-radius: 30px;
    padding-top: 2%;
    margin-left: 1%;
    margin-top: 1%;
}

.article {
    border-bottom: 1.5px solid #d4bcbc;
    padding-bottom: 25px;

}

.article-title {
    color: linear-gradient(to bottom, rgba(149, 149, 149, 1) 0%, rgba(13, 13, 13, 1) 63%, rgba(13, 13, 13, 1) 63%, rgba(1, 1, 1, 1) 65%, rgba(1, 1, 1, 1) 65%, rgba(10, 10, 10, 1) 66%, rgba(56, 56, 56, 1) 87%, rgba(27, 27, 27, 1) 100%);
    margin-bottom: 10px;
    background: linear-gradient(135deg, rgba(102, 182, 252, 1) 51%,
            rgba(102, 182, 252, 1) 64%, rgba(178, 225, 255, 1) 65%);
    width: 100%;
    margin-top: 1%;
    padding-top: 1%;
}

 h2 {
    padding-left: 15px;
    padding-bottom: 5px;
}

.article-meta {
    color: #999;
    font-size: 12px;
    margin-bottom: 15px;
}

.article-meta span {
    margin-right: 10px;
}

.article-meta i {
    margin-right: 5px;
}

.article-meta a {
    margin-right: -2%;
    padding-right: 10px;
}


.article-image {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}


.article-text {
    line-height: 1.5;
    margin-bottom: 15px;
    color: #666;
}

.read-more {
    color: #0b0c0c;

}


.lateral {
    width: 28%;
    float: right;
    margin-right: 1%;
    background: linear-gradient(45deg, rgba(230, 228, 252, 1) 0%,
            rgba(72, 56, 247, 1) 26%, rgba(96, 202, 229, 1) 82%, rgba(96, 202, 229, 1) 84%, rgba(96, 202, 229, 1) 86%, rgba(62, 43, 237, 1) 100%);
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    border-top-right-radius: 30px;
    margin-top: 1%;
    padding-top: 2%;
}

.lateral-section {
    margin-bottom: 48px;
}


.lateral-section a {
    font-size: 20px;
}

.lateral-title {
    color: #0c0d0f;
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10%;
    margin-top: 2.5%;
    border-bottom: 1px solid #bbd4f0;
    background: linear-gradient(135deg, #cedbe9 9%, #aac5de 27%, #4bb8f0 41%, #4bb8f0 41%,
            #6199c7 50%, #3a84c3 55%, #3a84c3 55%, #419ad6 59%, #3a84c3 59%, #3a8bc2 77%, #26558b 100%);
}

.info a {
    display: block;
    padding-left: 28%;
    margin-top: -20%;
    margin-bottom: 60px;
    font-size: 15px;
    
}

.info i  {
    font-size: 65px;
    padding-left: 2%; 
}



.parrafo1 a {
    font-size: 15px;
}
.parrafo1   {
    color: #0f0f0f;
    padding-left: 5%;
    margin-top: -10%;
    padding-bottom: 10%;
    font-size: 15px;
}

.categorias-list,
.fechas-list,
.links-list {
    list-style-type: none;
    padding: 2%;
    margin: 3%;
    margin-left: 5%;
}

.categorias-list li,
.fechas-list li,
.links-list li {

    padding-left: 15%;
    margin-top: -5px;
    margin-bottom: 10px;
    display: block;

}

.categorias-list i,
.fechas-list i,
.links-list i {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: -25px;
}


.material-icons {
    font-size: 20px;
    color: #0f0f0f;
    margin-right: 11px;
}


.categorias-list li:hover i,
.fechas-list li:hover i,
.links-list li:hover i {
    color: #f9690f;
}



.categorias-list li:hover,
.fechas-list li:hover,
.links-list li:hover {
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    height: 20px;
}

footer {
    background: linear-gradient(45deg, rgba(29, 40, 199, 1) 0%, rgba(53, 43, 237, 1) 100%);
    color: white;
    text-align: center;
    padding: 20px 0;
    clear: both;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    -webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

a {
    color: #0f0f0f;
    font-size: 14px;
}